<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="name">Name</label>
        <div >
            <input type="text" id="first_name" formControlName="first_name" class="form-control" placeholder="first name">
            <input type="text" id="last_name" formControlName="last_name" class="form-control" placeholder="last name">
        </div>
        
        <small class="form-text text-danger" *ngIf="userForm.controls['first_name'].touched && userForm.controls['first_name'].invalid">first name required</small>
        <small class="form-text text-danger" *ngIf="userForm.controls['last_name'].touched && userForm.controls['last_name'].invalid">last name required</small>
      </div>
      <div class="form-group">
        <label for="name">Job</label>
        <div>
            <input type="text" id="job" formControlName="job" class="form-control" placeholder="job">
        </div>
      
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Save</button>
      <button type="button" class="btn btn-secondary" routerLink="../">Cancel</button>
    </div>
  </div>
</form>