/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './variables.scss';
body{
    background-color: #f5f5f5;
}
.btn-primary:not(:disabled):not(.disabled):active{
    background-color: $base-grey;
    border-color: $base-violet;
}
.btn-primary.focus, .btn-primary:focus,.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #1f0f25;
}
.btn.disabled, .btn:disabled{
    cursor:not-allowed ;
}
mat-spinner{
    margin:0 auto;
}
mat-spinner circle {
    stroke: $base-violet!important;
   
  }
  .modal-dialog{
    top: 50%;
    width:10%;
  }
  .modal-dialog.modal-lg{
      top:20%;
      width:auto;
  }
  .form-control:focus{
    border-color:#cc89e8;
    box-shadow: 0 0 0 0.2rem #d3cad6;
  }
  secondary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem #d3cad6;
  }
  .btn-outline-secondary:not(:disabled):not(.disabled):active,.btn-outline-secondary:hover{
    background-color: $base-violet;
    border-color: $base-violet;
  }